body {
    max-width: max-content;
    margin: auto;
    background-color: rgb(37, 56, 25);
    }

.image_load, .image_uploaded{
  margin: auto;
  text-align: center;
}
.temp-img {
  margin: auto;
  text-align: center;
}

.rerun-div {
  text-align: center;
}



label {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: 'Trebuchet MS', sans-serif;;
}

.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

input[type="file"]::file-selector-button {
  border: 4px double #000000;
  border-radius: 10px;
  border-radius: 10px;
  background-color: #fbc606;
  transition: 1s;
  font-family: 'Trebuchet MS', sans-serif;;
  color: #000000;
  font-size: 20px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  font-weight: bold;
}

input[type="file"]::-ms-browse:hover {
  background-color: #cdf3ab;
  border: 2px solid  #cdf3ab;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #cdf3ab;
  border: 2px solid  #cdf3ab;
}

input[type="file"]::file-selector-button:hover {
  background-color: #cdf3ab;
  border: 2px solid  #cdf3ab;
}


        * {
      box-sizing: border-box;
    }
    
    .thick-border {
        border: 3px solid black;
        /* border-collapse: collapse; */
    }
    
    .concept-predict { 
      float: left;
      width: 50%;
      padding: 50px; 
      
    }

    .species-predict {  
      float: left;
      width: 50%;
      padding: 50px;
      
     }

    .predictions { 
      margin-left:-5px;
      margin-right:-5px;
      display: table;
      font-family:'Trebuchet MS', sans-serif;; ;
      color: rgb(246, 229, 150);
      
      }

      b {
        font-size: 20px;
        margin-bottom: 2px;
        color: white;
      }
    
    table {
      width: 100%;
      border: 1px solid #fbc606;
      border-collapse: collapse; 
      border-radius: 10px;
    }
    input[type=text] {
      width: 100%;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #fbc606;
      border-radius: 4px;
      background-color: #ffefb5;
    }
    
    th, td {
      text-align: left;
      border-left: 1px;
      border-right: 1px;
      padding: 16px;
      border: 0.8px solid #fbc606;
      
    }
    
    th {
      background-color: #ffdb5b;
      color:#000000;
      font-size: 20px;
      
    }
    
    button {
      display: inline-block;
      background-color: #fbc606;
      border-radius: 10px;
      border: 4px double #000000;
      color: #000000;
      text-align: center;
      font-size: 25px;
      padding: 10px;
      width: 150px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 4px;
      font-family: 'Trebuchet MS', sans-serif;;
    }
    button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    button:hover {
      background-color: #cdf3ab;;
    }
    button:hover span {
      padding-right: 25px;
    }
    button:hover span:after {
      opacity: 1;
      right: 0;
    }


    